/* Sixteen Site CSS */

body {
  font-size: 16px;
  background-color: #ebebeb;
  width: 360px;
  margin: 0 auto;
}

.sr-only {
  text-indent: 9999em;
  overflow: hidden;
}

nav {
  background-color: #acd373;
  height: 40px;
  width: 360;
  box-shadow: 2px, 2px, 4px, rgba(0,0,0, 0.6);
}

.logo {
  background-image: url('../img/sixteen_logo.png');
  width: 70px;
  height: 23px;
  display: inline-block;
  margin-top: 8px;
  margin-left: 30px;
}

.toggle {
    background: #89a85c url('../img/toggle.png') no-repeat center center;
    width: 11px;
    height: 10px;
    display: inline-block;
    padding: 15px;
    float: right;
}

.intro {
    color: #f7f7f7;
    height: 350px;
    background: #9abd67 url('../img/cityscape.png') no-repeat bottom center;
}

.intro > div {
    text-align: center;
    padding-top: 125px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 13px;
    font-weight: normal;
    margin-top: 20px;
}

.arrow {
    background-image: url('../img/arrow.png');
    width: 25px;
    height: 14px;
    display: inline-block;
    margin-top: 57px;
}

/* ===== about section ===== */

.about {
  background-color: #f7f7f7;
  width: 360px;
  height: 500px;
}

.about > img {  /*phone img only*/
  display: block;
  margin: 0 auto;
  padding-top: 43px;
}

.about h3 {
  color: #454545;
  background: url('../img/manIcon.png') no-repeat;
  margin-left: 29px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  margin-top: 36px;
  line-height: 30px; /*IMPORTANT*/
  vertical-align: 30px;
  display: inline-block;
  padding-left: 43px;
  
}

.about p {
  color: #454545;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  margin-left: 29px;
  padding-right: 34px;
  padding-bottom: 29px 
}

.about button {
  background-color: #f7f7f7;
  color: #acd373;
  margin-left: 29px; /* is this okay? */
  width: 90px;
  height: 30px;
  /*display: block; <-- is this right instead?*/
  border: 1px solid #acd373;
}

.about > button > a {
  font-family: 'Droid Serif', serif;
  font-size: 11px;
  font-style: italic;
  text-decoration: none;
  color: #acd373;
}

/* ===== video section ====== */

.video {
  width: 360px;
  height: 260px;
   
}

.video > a {
 
}

/* ===== services section ====== */

.services {
  background-color: #f7f7f7;
  width: 360px;
  height: 500px;
  display: block;
}

.secthead > h3,h4 {
  text-align: center;
}

.secthead > h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #454545;
  padding-top: 40px;
}

.secthead h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  color: #454545;
  padding-top: 12px;
}

.secthead span {
  color: #acd373;
}

.horzrule {
  display: block;
  padding-top: 16px;
  padding-bottom: 37px;
  margin: 0 auto;
}

.servcont {
  height: 30px;
  line-height: 30px;
}

img, .servitem {
  display: inline-block;
  vertical-align: top;
}

.servcont img {
  margin-left: 29px;
  margin-right: 23px;
}

.servitem {
  padding-bottom: 30px;
}

.servitem h5  {
  color: #acd373;
  font-family: 'Source Sans Pro', sans-serif;
  /*font-weight: bold;*/
  font-size: 14px;
  line-height: 14px;
}

.servitem p {
  color: #454545;
  display: block;
  width: 215px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 11px;
  line-height: 16px;
  padding-top: 13px;
}

.services button {
  background-color: #f7f7f7;
  color: #acd373;
  margin: 0 auto; /* is this okay? */
  width: 90px;
  height: 30px;
  display: block; /*<-- is this right instead?*/
  border: 1px solid #acd373;
  margin-top: 9px;
}

.services button > a {
  font-family: 'Droid Serif', serif;
  font-size: 11px;
  font-style: italic;
  text-decoration: none;
  color: #acd373;
}

/* ===== team section 5 ====== */

.team {
  width: 360;
  height: 420;
  background-color: #acd373;
}

.teamarrow {
  display: inline-block;
  line-height:  182px;
  margin-left: 27px;
  margin-right: 27px;
  padding-top: 56px;
}

.teamsect {
  display: inline-block;
  width: 200px;
  height: 182px;
  background-color: #f7f7f7;
  border-radius: 6px;
  margin: 20px auto;
  text-align: center;
  vertical-align: middle;
}

.teamsect h5 {
  color: #acd373;
  font-family: 'Source Sans Pro', sans-serif;
}

.teamsect span {
  color: #454545;
  font-family: 'Droid Serif', serif;
  font-size: 12px;
}

.photo > img {
  border-radius: 50px;
  border: 5px;
  border-style: solid;
  border-color: #acd373;
  position: relative; top: -35px;
}

.socialbar {
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 200px;
  background-color: #ebebeb;
  margin-top: 20px;
  border-radius: 0 0 6px 6px;
}

.teamsect li {
  padding-top: 12px;
  vertical-align: middle;
  display: inline-block;
  list-style: none;
}

.joinbar {
  background-color: rgb(154,189,103);
  width: 360px;
  height: 66px;
  line-height: 66px;
}

.joinbar span {
  color: #f7f7f7;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  vertical-align: middle;
  margin-left: 30px;
}

.joinbar button {
  background-color: rgb(154,189,103);
  color: #acd373;
  width: 90px;
  height: 30px;
  display: inline-block; /*<-- is this right instead?*/
  border: 1px solid #f7f7f7;
  margin-left: 30px;
}

.joinbar button > a {
  font-family: 'Droid Serif', serif;
  font-size: 9px;
  font-style: italic;
  text-decoration: none;
  color: #f7f7f7;
}

/* ===== recent work section 6 ====== */

.work {
  display: block;
  background-color: #f7f7f7;
  width: 360px;
  height: 520px;
}

.examplebar {
  display: block;
  width: 300px;
  height: 80px;
  background-color: #ebebeb;
  margin: 0 auto;
  text-align: center;
}

.examplebar h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #454545;
}

.examplebar span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;

}

.work img {
  display: block;
  margin: 0 auto;
}

.work button {
  background-color: #f7f7f7;
  color: #acd373;
  width: 90px;
  height: 30px;
  display: block; /*<-- is this right instead?*/
  border: 1px solid #acd373;
  margin: 0 auto;
  margin-top: 45px;
}

.work button > a {
  font-family: 'Droid Serif', serif;
  font-size: 10px;
  font-style: italic;
  text-decoration: none;
  color: #acd373;
}

.envato {
  display: block;
  width: 360px;
  height: 80px;
  background-color: #ebebeb;
  line-height: 80px;
}

.envato img {
  display: block;
  width: 138px;
  height: 30px;
}

/* ===== testimonial section 7 ====== */

.testimony {
  display: block;
  background: rgba(37,37,37, 0.9);
  background-image: url('../img/testimonialBg.png');
  width: 360px;
  height: 562px; 
  padding-top: 61px;
}

.quotebox {
  display: block;
  width: 290px;
  height: 64px;
  margin: 0 auto;
  margin-bottom: 55px;
  padding-top: 20px;
  padding-left: 10px;
  border: 1px solid #f7f7f7;
  color: #f7f7f7;
  font-family: 'Droid Serif', serif;
  font-size: 11px;
}

.clientprofile {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.clientprofile h5 {
  display: inline-block;
  line-height: 14px;
  vertical-align: top;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: #acd373;
  font-size: 14px;
  padding-left: 22px;
  padding-top: 15px;
}

.clientprofile span {
  display: inline-block;
  line-height: 12px;
  vertical-align: top;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #f7f7f7;
  font-size: 12px;
  padding-left: 22px;
}

.clientprofile a {
  display: block;
  margin: 0 auto;
  padding-top: 23px;
}

.navdots {
  margin-top: 24px;
  text-align: center;
}
.navdots a {
  display: inline-block;
  text-align: center;
}

.testimonialtext {
  display: block;
  padding-top: 70px;
  margin-left: 30px;
  padding-right: 25px;
}

.testimonialtext h4,p {
  color: #f7f7f7;
  text-align: left;
}

.testimonialtext h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  margin-bottom: 22px;
}

.testimonialtext p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  margin-bottom: 23px;
}

.testimonialtext  button {
  background: transparent;
  width: 128px;
  height: 28px;
  display: block; /*<-- is this right instead?*/
  border: 1px solid #acd373;
}

.testimonialtext button > a {
  font-family: 'Droid Serif', serif;
  font-size: 10px;
  font-style: italic;
  text-decoration: none;
  color: #acd373;
}

/* ===== Blog section 8 ====== */

.blog {
  width: 346px;
  height: 612px;
  background-color: #f7f7f7;
  padding-left: 14px;
}

.blogItem {
  width: 160px;
  height: 220px;
  background-color: #ebebeb;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 15px;
  text-align: center;
}

.blogGrid {
  display: block;
  margin-top: 0px;
}

.blogItem > img:nth-of-type(2) {
  width: 30px;
  height: 30px;
  background-color: #acd373;
  border-radius: 40px;
  border: 5px solid #ebebeb;
  position: relative; top: -20px;
}

.blogItem span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10.93px;
}

.blogDesc {
  display: block;
  background-color: #ebebeb;
  width: 160px;
  height: 50px;
  text-decoration: none;
}
.blogItem button {
  display: block;
  width: 160px;
  height: 30px;
  background-color: #acd373;
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}

.blogItem button > a {
  text-decoration: none;
  color: #f7f7f7;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 9px;
}

/* ===== newsletter block ====== */

.newsletter {
  display: block;
  background-color: #acd373;
  width: 360px;
  height: 62px;
  line-height: 62px;
}

.newsletter h4 {
  color: #f7f7f7;
  /*background-color: #acd373;*/
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.newsletter form {
  display: inline-block;
}

.newsletter input {
  background-color: #acd373;
  color: #f7f7f7;
  width: 102px;
  height: 22px;
  border: 1px solid #f7f7f7;
  font-size: 9px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  padding-left: 8px;
}

.newsletter span {
  background-color: #f7f7f7;
}

.newsletter img {
  vertical-align: middle;
  border: 5.5px solid #f7f7f7;
  width: 15px;
  height: 15px;
}

/* ===== Map block ====== */
.map {
  background-image: url('../img/map.jpg');
  display: block;
  width: 360px;
  height: 129px;
  line-height: 129px;
  text-align: center;
}

.map h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #f7f7f7;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 1px 1px 2px black; 

} 

/* ===== Contact block ====== */

.contact {
  width: 360px;
  height: 450px;
  background-color: #acd373;
}

.contact h3 + h4 {
  color: #f7f7f7;
}
.contact input {
  display: block;
  width: 300px;
  height: 25px;
  margin: 10px auto;
  margin-bottom: 23px;
  background-color: #89a85c;
  color: #f7f7f7;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  padding-left: 13px;
  line-height: 13px;
  vertical-align: middle;
  
}

.contact span {
  color: #f7f7f7;
  display: block;
  margin-left: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 5px;

}

.button {
  display: block;
  background-color: #89a85c;
  color: #f7f7f7;
  width: 220px;
  height: 32px;
  margin: 0 auto;
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  line-height: 32px;
  vertical-align: middle;
}

/* ===== Social block ====== */

.social {
  display: block;
  background-color: #89a85c;
  width: 360px;
  height: 100px;
  color: #f7f7f7;
  text-align: center;
  padding-top: 27px;
}

.social li {
  display: inline-block;
  width: 26px;
  height: 26px;
  color: #f7f7f7;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

.social span {
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  margin-top: 13px;
}

















